* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #e8ecfb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.bg-gray {
  background-color: #f3f3f3;
}

.bg-gray-secondary {
  background-color: #ededef;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rounded-md {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 20px;
}

.p-2 {
  padding: 10px;
}

.p-5 {
  padding: 25px;
}

.text-sm {
  font-size: 14px;
}
